.resultado{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:space-around;
    padding-bottom: 10px;
}

.sombraTexto{    
    text-shadow:
        -1.5px -1.5px 0 #000,  
        1.5px -1.5px 0 #000,
        -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000;
}

.producto{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    background-color: #2474A6;
    margin-top: 20px;
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
}

.cabezaproducto{
    width: 100%;
    height: 30%;
    background-color: #1A2A40;
    position: relative;
}

#ProductoImagen{
    display: block;
    height:100%;
    margin: auto;
}

.Tipoproducto{
    position: absolute;
    right: 3px;
    top: 3px;
    width: 50px;
    height: 50px;
}

.ProductInfo{
    height: 70%;
    padding: 5px;
}

#Productonombre{
    font-weight: bold;
    color:#1A2A40;
    width: 100%;
}

#Productodescripcion{
    text-align:justify;
    margin-bottom: 7px;
    font-size: 0.9em;
    color:white;
}

.ProductoInfo > p{
    color: #1A2A40;
    font-weight: bold;
}

.ProductoInfo > p{
    color: #1A2A40;
    font-weight:bold;
    text-align:left;
}

.ProductoInfo > p:nth-child(1){
    color:white;
}

#Productopuntuacion{
    padding-left: 20px;
    color: white;
}

.precioCarrito{
    display: flex;
    justify-content:space-between;
}

#Productoprecio{
    display: block;
    font-size: 2em;
    color: white;
    width: 50%;
    text-align:left;
    padding-left: 30px;
}

#addItem{
    height: 50px;
    padding: 5px;
}

/* RESPONSIVE TABLETS */
@media only screen and (max-width: 1000px) {

}

/* RESPONSIVE TELEFONOS */
@media only screen and (max-width: 500px) {
    .producto{
        max-width: 100%;
        width: 100%;
    }
}

/* SCROOL*/
.producto::-webkit-scrollbar {
    /*fondo de la barra*/
    width: 8px;
    background: rgba(255,255,255,0.5); 
}

.producto::-webkit-scrollbar-thumb {
    /*barra en si*/
    background-color: #E00B27;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.producto::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}